In [2]:
from pandas import Series
from pandas import DataFrame
from pandas import concat
from matplotlib import pyplot

In [3]:
series = Series.from_csv('daily-minimum-temperatures-in-me.csv', header = 0)

In [4]:
series.head()

Date
1981-01-01    20.7
1981-01-02    17.9
1981-01-03    18.8
1981-01-04    14.6
1981-01-05    15.8
Name: Daily minimum temperatures in Melbourne, Australia, 1981-1990, dtype: object

In [5]:
values = DataFrame(series.values)

In [6]:
values.columns = ['val']

In [7]:
values.head()

    val
0  20.7
1  17.9
2  18.8
3  14.6
4  15.8

In [66]:
#dataframe = concat([values.shift(1), values], axis = 1)

In [67]:
#dataframe.columns = ['valm1', 'valp1']

In [68]:
#dataframe = concat([dataframe.valm1.shift(1), dataframe], axis = 1)

In [69]:
#dataframe.head()

In [8]:
def shift(df, n):
    if n > 0:
        for i in range(1,n+1):
              values['lag_'+str(i)] = values.val.shift(i)
        return values

In [12]:
val_df = shift(values, 10)

In [13]:
val_df.head(20)

     val lag_1 lag_2 lag_3 lag_4 lag_5 lag_6 lag_7 lag_8 lag_9 lag_10
0   20.7   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN
1   17.9  20.7   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN
2   18.8  17.9  20.7   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN
3   14.6  18.8  17.9  20.7   NaN   NaN   NaN   NaN   NaN   NaN    NaN
4   15.8  14.6  18.8  17.9  20.7   NaN   NaN   NaN   NaN   NaN    NaN
5   15.8  15.8  14.6  18.8  17.9  20.7   NaN   NaN   NaN   NaN    NaN
6   15.8  15.8  15.8  14.6  18.8  17.9  20.7   NaN   NaN   NaN    NaN
7   17.4  15.8  15.8  15.8  14.6  18.8  17.9  20.7   NaN   NaN    NaN
8   21.8  17.4  15.8  15.8  15.8  14.6  18.8  17.9  20.7   NaN    NaN
9   20.0  21.8  17.4  15.8  15.8  15.8  14.6  18.8  17.9  20.7    NaN
10  16.2  20.0  21.8  17.4  15.8  15.8  15.8  14.6  18.8  17.9   20.7
11  13.3  16.2  20.0  21.8  17.4  15.8  15.8  15.8  14.6  18.8   17.9
12  16.7  13.3  16.2  20.0  21.8  17.4  15.8  15.8  15.8  14.6   18.8
13  21.5  16.7  13.3  16.2  20.0  21.8  17.4  15.8  15.8  15.8   14.6
14  25.0  21.5  16.7  13.3  16.2  20.0  21.8  17.4  15.8  15.8   15.8
15  20.7  25.0  21.5  16.7  13.3  16.2  20.0  21.8  17.4  15.8   15.8
16  20.6  20.7  25.0  21.5  16.7  13.3  16.2  20.0  21.8  17.4   15.8
17  24.8  20.6  20.7  25.0  21.5  16.7  13.3  16.2  20.0  21.8   17.4
18  17.7  24.8  20.6  20.7  25.0  21.5  16.7  13.3  16.2  20.0   21.8
19  15.5  17.7  24.8  20.6  20.7  25.0  21.5  16.7  13.3  16.2   20.0

In [16]:
val_df1 = val_df.dropna()

In [17]:
val_df1.head()

     val lag_1 lag_2 lag_3 lag_4 lag_5 lag_6 lag_7 lag_8 lag_9 lag_10
10  16.2  20.0  21.8  17.4  15.8  15.8  15.8  14.6  18.8  17.9   20.7
11  13.3  16.2  20.0  21.8  17.4  15.8  15.8  15.8  14.6  18.8   17.9
12  16.7  13.3  16.2  20.0  21.8  17.4  15.8  15.8  15.8  14.6   18.8
13  21.5  16.7  13.3  16.2  20.0  21.8  17.4  15.8  15.8  15.8   14.6
14  25.0  21.5  16.7  13.3  16.2  20.0  21.8  17.4  15.8  15.8   15.8

In [34]:
train, test = val_df1[1:len(val_df1)-100], val_df1[len(val_df1)-100:]

In [35]:
print(len(val_df1), len(train), len(test))

3640 3539 100

In [40]:
test_val = test.drop('val', axis= 1)

In [41]:
test_val.head()

     lag_1 lag_2 lag_3 lag_4 lag_5 lag_6 lag_7 lag_8 lag_9 lag_10
3550   6.8   9.6  16.3  11.6   7.3   3.7  10.4  10.1   7.2    9.8
3551   5.2   6.8   9.6  16.3  11.6   7.3   3.7  10.4  10.1    7.2
3552  10.6   5.2   6.8   9.6  16.3  11.6   7.3   3.7  10.4   10.1
3553  16.3  10.6   5.2   6.8   9.6  16.3  11.6   7.3   3.7   10.4
3554   9.8  16.3  10.6   5.2   6.8   9.6  16.3  11.6   7.3    3.7